.action {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $brand-black;
    border-radius: 10px;
    background-color: $white;
    transition: transform $fast;

    &.main {
        padding: 15px 27px;
    }

    &.login {
        padding: 16px;
    }

    @include hover {
        transform: translate(1px, 1px);
    }
}

.btn-shadow {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 100%;
        height: 100%;
        background-color: $brand-black;
        border-radius: 10px;
        z-index: 0;
    }

    &.kit-btn {
        width: 140px;
    }

    &.promo-btn, &.slider-button.blue {

        .action.main {
            padding-top: 22px;
            padding-bottom: 22px;
            background-color: $light-blue;
        }

        width: 155px;
    }

    &.about-btn {
        width: 155px;

        .action.main {
            background-color: $brand-pink;
        }

        &::after {
            background-color: $white;
        }
    }

    &.logo-btn .action.main, &.slider-button.saimon .action.main {
        background-color: $brand-saimon;
    }

    &.slider-button.saimon {
        width: 155px;
    }
}