// fonts
$font-avenir            :  'Avenir Next Cyr', Arial, Helvetica, sans-serif;
$font-monument          :  'Monument Extended', Arial, Helvetica, sans-serif;
$font-playfair          :  'Playfair Display', Arial, Helvetica, sans-serif;


// colors
$white                  : #FFFFFF;
$black                  : #000000;
$brand-black            : #2D2A26;
$brand-white            : #FCFCF0;
$brand-grey             : #F3F3E7;
$brand-blue             : #307FE2;
$brand-red              : #F87C56;
$brand-pink             : #ECB3CB;
$brand-saimon           : #F5CABF;


$light-grey             : #FCFCF0;
$light-blue             : #8ABADD;


// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-sm-min          : 768px;