@import 'core/reset';
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixin';
@import 'core/media-queryes';
@import 'core/buttons';
@import 'core/form';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/logo';
@import 'blocks/about';
@import 'blocks/slider';
@import 'blocks/product';
@import 'blocks/subscribe';
@import 'blocks/contacts';
@import 'blocks/footer';

body {
    font-family: $font-avenir;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;

    &.overflow-hide {
        overflow: hidden;
    }
}

main {
    padding-top: 118px;
}

.title {
    font-weight: 700;

    span {
        font-family: $font-playfair;
    }

    .blue {
        color: $brand-blue;
    }

    .light-blue {
        color: $light-blue;
    }

    .red {
        color: $brand-red;
    }

    .saimon {
        color: $brand-saimon;
    }

    .orange {
        font-family: $font-avenir;
        color: $brand-orange;
    }

    .black {
        color: $brand-black;
    }
}

a:focus {
    outline: $brand-saimon auto 1px;
}